/*! bgabrielma - task-management | MIT License | bgabrielma.github.io */

/* ==========================================================================
CSS for this App - task-management
========================================================================== */

/**

/** Import Montserrat webfont */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
/** Setting primordial config */

* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 17px;
  background-color: #EEEEEE;
  line-height: 1.5;
  color: #ffff;
  background: #3395ff;
}

main {
  min-height: 100vh;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}