/*! bgabrielma - task-management | MIT License | bgabrielma.github.io */

/* ==========================================================================
CSS for this App - task-management
========================================================================== */

/**

/** Import Montserrat webfont */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
/** Setting primordial config */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 17px;
  background-color: #DDDDDD;
  line-height: 1.5;
  color: #262626;
}

main {
  min-height: 100vh;
}